// Variables
$font-stack: 'Poppins', sans-serif;
$bgColor: whitesmoke;
$secondaryColor: tomato;
$charcoal: #424b54ff;
$bronze: #bc8034ff;
$dodger-blue: #1e96fcff;
$green-sheen: #8bbeb2ff;
$corn: #f4e76eff;

// General styles start
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-stack;
    background-color: $charcoal;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}


// section{
//     display: flex;
//     flex-flow: column wrap;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     min-height: 100vh;
//     margin-top: 100px;
//     padding: 150px;
// }
.section-title {
    font-size: 3rem;
    color: $green-sheen;
    padding: 8rem .5rem auto .5rem;
    
}
.section-subtitle{
    color:$bronze;
    font-weight: 100;
    margin-bottom: 100px;
    padding: .5rem;
}

// General styles end

// Navigation start

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top:0;
    height: 8vh;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 1s ease-in-out; 

    .burger {
        display: none;

        div {
            width: 30px;
            height: 3px;
            background-color: $green-sheen;
            margin: 5px;
            transition: all 0.3s ease;
        }
        @media (max-width: 768px){
            display: block;
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 15;
            cursor: pointer;
        }
    }
    .burgerToX{
        .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 50%;

        @media (max-width: 768px){
            position: absolute;
            left: 0px;
            height: 100vh;
            top: 0;
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: rgba(0, 0, 0, 0.934);
            border-radius: 0 15px 15px 0;
            transform: translateX(-100%);
            transition: transform .5s ease-in-out;
            z-index: 2;
        }
    }
    .nav-active {
        transform: translateX(0%);
    }

    
}
    
.nav-item {
    list-style: none;
    padding: 1rem;
    a {
        text-decoration: none;
        color: $green-sheen;
        font-size: 1.5rem;
        
        &:hover {
            text-decoration: 2px solid black;
            color: $corn;    
        }
    } 
    @media (max-width: 768px){
        opacity: 0;
    }
    @keyframes navItemFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}





// Navigation end

// Hero Section start

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $green-sheen;
    font-size: larger;
    .hero-container{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem;
        margin:auto;
        @media (max-width: 564px) and (max-width: 300px){
            align-items: center;
        }
        h1{
            font-size: 5rem;
            font-weight: 700; 
            
            @media (max-width: 564px) and (max-width: 300px) {
                font-size: 2rem;
                align-self: flex-start;
                justify-content: center; 
            }
        }
        h3{
            align-self: start;
            font-weight: 300;
            color: $bronze; 

            @media (max-width: 564px) and (max-width: 300px) {
                font-size: medium;
            }
        }
    }
}
// Hero Section end

// About Section start

.about-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 8rem 3rem;
    
    .about-container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .about-description {
            color: inherit;
        }
    }
}
// About Section end

// Portfolio section start

.portfolio-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    
    .portfolio-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        gap:1rem;
        a {
            text-decoration: none; 
            margin: 0;
            padding: 0;
        }
        &:visited {
            color: inherit;
        }
        .flex-item {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 10px;
            border: 2px solid $green-sheen;
            width: 15rem;
            height: 20rem;
            padding: 15px;
            color: $green-sheen;
            &:hover {
                color: $corn;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                border: 2px solid $corn;
                transition: .5s ease-in-out;
            }
            .project-title,
            .project-description,
            #codecamp {
                margin: 5px;
            }
            .flex-item-list {
                list-style: none;
            }
            
        }
    }
}


// Portfolio section end

// Technologies section start

.technologies-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;

    .technologies-container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .tech-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border: 2px solid $green-sheen;
            border-radius: 5px;
            aspect-ratio: 1/1;
        }
    }
    
}

// Technologies section end

// Contact section start

.contact-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}

// Contact section end