// Variables
$font-stack: 'Roboto', sans-serif;
$bgColor: whitesmoke;
$secondaryColor: tomato;
$charcoal: #424b54ff;
$bronze: #bc8034ff;
$dodger-blue: #1e96fcff;
$green-sheen: #8bbeb2ff;
$corn: #f4e76eff;

// General styles
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-stack;
    background-color: $charcoal;
}

// body{
//     display: flex;
//     flex-flow: column wrap;
//     align-items: center;
//     justify-content: center;
// }



.section {
    padding: 15px;
    margin-top: 15px;
}

.navbar {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 15vh;
    overflow: hidden;
    
}
.nav-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .nav-item {
        list-style: none;
        padding: 10px;
        margin: 10px;

        a {
            text-decoration: none;
            color: $green-sheen;
            font-size: 1.5rem;
            // font-weight: bold;

            // &:visited {
            //     color: tomato;
            // }
            &:hover {
                text-decoration: 2px solid black;
                color: $corn; 
                
            }
        } 
    }
    
}

.section{
    width: 100vw;
    height: 80vh;
    padding: 50px;
}

.hero-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: $green-sheen;
    font-size: larger;
    .hero-container{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 564px) and (max-width: 300px){
            align-items: center;
        }
        h1{
            font-size: 5rem;
            font-weight: 700; 
            
            @media (max-width: 564px) and (max-width: 300px) {
                font-size: 2rem;
                align-self: center;
                justify-content: center; 
            }
        }
        h3{
            font-weight: 300;
            color: $bronze; 
        }
    }
}

.about-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    .about-container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}

