* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #424b54ff;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.section-title {
  font-size: 3rem;
  color: #8bbeb2ff;
  padding: 8rem 0.5rem auto 0.5rem;
}

.section-subtitle {
  color: #bc8034ff;
  font-weight: 100;
  margin-bottom: 100px;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 8vh;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 1s ease-in-out;
}
.navbar .burger {
  display: none;
}
.navbar .burger div {
  width: 30px;
  height: 3px;
  background-color: #8bbeb2ff;
  margin: 5px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .navbar .burger {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 15;
    cursor: pointer;
  }
}
.navbar .burgerToX .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.navbar .burgerToX .line2 {
  opacity: 0;
}
.navbar .burgerToX .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.navbar .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
@media (max-width: 768px) {
  .navbar .nav-list {
    position: absolute;
    left: 0px;
    height: 100vh;
    top: 0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.934);
    border-radius: 0 15px 15px 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
  }
}
.navbar .nav-active {
  transform: translateX(0%);
}

.nav-item {
  list-style: none;
  padding: 1rem;
}
.nav-item a {
  text-decoration: none;
  color: #8bbeb2ff;
  font-size: 1.5rem;
}
.nav-item a:hover {
  text-decoration: 2px solid black;
  color: #f4e76eff;
}
@media (max-width: 768px) {
  .nav-item {
    opacity: 0;
  }
}
@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8bbeb2ff;
  font-size: larger;
}
.hero-section .hero-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  margin: auto;
}
@media (max-width: 564px) and (max-width: 300px) {
  .hero-section .hero-container {
    align-items: center;
  }
}
.hero-section .hero-container h1 {
  font-size: 5rem;
  font-weight: 700;
}
@media (max-width: 564px) and (max-width: 300px) {
  .hero-section .hero-container h1 {
    font-size: 2rem;
    align-self: flex-start;
    justify-content: center;
  }
}
.hero-section .hero-container h3 {
  align-self: start;
  font-weight: 300;
  color: #bc8034ff;
}
@media (max-width: 564px) and (max-width: 300px) {
  .hero-section .hero-container h3 {
    font-size: medium;
  }
}

.about-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 8rem 3rem;
}
.about-section .about-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about-section .about-container .about-description {
  color: inherit;
}

.portfolio-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}
.portfolio-section .portfolio-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}
.portfolio-section .portfolio-container a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.portfolio-section .portfolio-container:visited {
  color: inherit;
}
.portfolio-section .portfolio-container .flex-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 2px solid #8bbeb2ff;
  width: 15rem;
  height: 20rem;
  padding: 15px;
  color: #8bbeb2ff;
}
.portfolio-section .portfolio-container .flex-item:hover {
  color: #f4e76eff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 2px solid #f4e76eff;
  transition: 0.5s ease-in-out;
}
.portfolio-section .portfolio-container .flex-item .project-title,
.portfolio-section .portfolio-container .flex-item .project-description,
.portfolio-section .portfolio-container .flex-item #codecamp {
  margin: 5px;
}
.portfolio-section .portfolio-container .flex-item .flex-item-list {
  list-style: none;
}

.technologies-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}
.technologies-section .technologies-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.technologies-section .technologies-container .tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #8bbeb2ff;
  border-radius: 5px;
  aspect-ratio: 1/1;
}

.contact-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

/*# sourceMappingURL=style.css.map */
